@charset "UTF-8";
@keyframes sliceIn_left {
  0% {
    transform: translateX(-100px);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes sliceIn_down {
  0% {
    transform: translateY(-100px);
    opacity: 0; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }

@keyframes left {
  0% {
    z-index: 1; }
  50% {
    left: 50px; } }

@keyframes right {
  50% {
    right: 50px; } }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ccc;
  font-family: "微軟正黑體";
  overflow-x: hidden; }

#loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
  font-size: 18pt;
  color: rgba(237, 153, 22, 0.8); }
  #loading .myloading {
    position: relative;
    width: 110px;
    height: 50px; }
    #loading .myloading .left, #loading .myloading .right {
      position: absolute;
      top: 0;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      animation: 1s ease-in-out infinite; }
    #loading .myloading .left {
      background: #ed9916;
      left: 0;
      animation-name: left; }
    #loading .myloading .right {
      background: #58b530;
      right: 0;
      animation-name: right; }

.title {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  font-size: 20pt;
  font-weight: bold; }

#nav {
  display: none; }
  #nav .sitename {
    font-size: 25pt; }
  #nav .fa-bars {
    color: #fff; }
  #nav a {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  #nav a:hover {
    color: #0ff; }

#home {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  animation: sliceIn_left 1s 0.1s ease; }
  #home .cover {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #000;
    background: url("https://source.unsplash.com/2KXEb_8G5vo/800x600") center no-repeat;
    background-size: cover; }
    #home .cover h1 {
      font-weight: 900;
      margin-bottom: 30px;
      color: #fff; }
    #home .cover .content {
      width: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      margin-bottom: 30px; }
      #home .cover .content p {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #eee;
        font-weight: 400;
        margin: 20px;
        word-wrap: break-all;
        padding: 10px; }
    #home .cover a {
      border: solid 1px #00f;
      color: #000;
      transition-duration: 0.4s;
      padding: 15px; }
    #home .cover a:hover {
      background-color: #00f;
      border: solid 1px #fff;
      color: #fff;
      transition: 1.5s;
      font-weight: bold; }
    #home .cover span:hover:after {
      content: ">>"; }

#site, #about, #practice {
  padding: 85px 0 30px 0;
  animation: sliceIn_down 1s 0.1s ease;
  display: none; }

#site .content, #about .content {
  padding: 0 10%; }
  @media screen and (max-width: 576px) {
    #site .content, #about .content {
      padding: 0 5px; } }
  #site .content p, #about .content p {
    text-align: left;
    font-size: 14pt;
    line-height: 28pt;
    word-wrap: break-word;
    padding: 0 10px; }
  #site .content .table-bordered, #about .content .table-bordered {
    border-color: #000; }
    #site .content .table-bordered th, #about .content .table-bordered th {
      text-align: center;
      vertical-align: middle;
      min-width: 90px; }
    #site .content .table-bordered td, #about .content .table-bordered td {
      vertical-align: middle;
      min-width: 90px; }

#site i, #about i {
  font-size: 30pt;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

#site a, #about a {
  text-decoration: none;
  color: #4a4aff; }

#site a:hover, #about a:hover {
  color: #ff2d2d;
  transition: 1s; }

#practice {
  width: 100%; }
  #practice .mycards {
    width: 100%;
    margin: 0;
    padding: 0; }
    #practice .mycards .card {
      height: 380px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 20px;
      padding: 0; }
      #practice .mycards .card .card_container {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 10px; }
        #practice .mycards .card .card_container .title {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          border-bottom: solid 1px #000; }
        #practice .mycards .card .card_container .preview iframe {
          width: 100%;
          height: 250px;
          border: none; }
        #practice .mycards .card .card_container .go {
          height: 40px;
          border-top: solid 1px #000; }
          #practice .mycards .card .card_container .go .btn {
            height: 40px;
            position: absolute;
            bottom: 10px;
            right: 10px; }

#footer {
  width: 100%;
  height: 30px;
  margin-top: 50px;
  color: #eee;
  display: none; }
  #footer p {
    font-size: 11pt;
    line-height: 22pt;
    text-align: center; }
