html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #1c1c1c; }

#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.postarea {
  width: 100%;
  height: 300px;
  white-space: nowrap; }

.posts {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.5s; }

.postbox {
  display: inline-block;
  width: 100%;
  height: 100%; }
  .postbox .cover {
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s 0s;
    cursor: pointer; }
  .postbox .infos {
    colors: white;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    transition: 0.5s 0s; }
    .postbox .infos h1 {
      margin-bottom: 10px;
      font-weight: 400;
      color: white; }
    .postbox .infos h5 {
      background-color: white;
      color: black;
      padding: 4px 12px;
      font-weight: 300;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3); }

@media screen and (max-width: 576px) {
  .cover {
    width: 100%;
    height: 100%; }
  .infos {
    transform: translateX(-60px) translateY(-80px); }
    .infos h1 {
      font-size: 30px; }
    .infos h5 {
      font-size: 11px; }
  .control_left, .control_right {
    background-color: #fff;
    color: black;
    border: solid 1px black; } }

@media screen and (min-width: 577px) {
  .cover {
    width: 80%;
    height: 100%; }
  .cover:hover {
    width: 85%;
    height: 110%; }
    .cover:hover .infos {
      transform: translateX(-200px) translateY(-10px); }
  .infos {
    transform: translateX(-200px); }
    .infos h1 {
      font-size: 50px; }
    .infos h5 {
      font-size: 20px; }
  .control_left, .control_right {
    color: white;
    border: solid 1px white; } }

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(30px);
    filter: saturate(0%); }
  100% {
    opacity: 1;
    transform: translateX(0px);
    filter: saturate(100%); } }

@keyframes sliceIn {
  0% {
    transform: translateX(-50px); }
  100% {
    transform: translateX(0px); } }

.cur_item .cover {
  animation: fadeIn 1s ease both; }

.cur_item .infos h5 {
  animation: sliceIn 1s 0.1s ease; }

.control_left, .control_right {
  width: 40px;
  height: 40px;
  position: fixed;
  border-radius: 50%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s 0s; }
  .control_left:hover, .control_right:hover {
    background-color: #fff;
    color: black; }

.control_left {
  left: 50px; }

.control_right {
  right: 50px; }
