html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="shortcut icon" href="./img/icon/icon.png")

    //bootstrap 4.0.0
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")

    //css
    link(rel="stylesheet"  href="./css/style.css")

    title 鍵盤爵士鼓
  body
    .keys
      .row
        .key.col-3.col-md-1(data-key="65" onclick="clickplay(65)")
          kbd A
          span.sound Clap
        .key.col-3.col-md-1(data-key="83" onclick="clickplay(83)")
          kbd S
          span.sound hihat
        .key.col-3.col-md-1(data-key="68" onclick="clickplay(68)")
          kbd D
          span.sound kick
        .key.col-3.col-md-1(data-key="70" onclick="clickplay(70)")
          kbd F
          span.sound openhat
        .key.col-3.col-md-1(data-key="71" onclick="clickplay(71)")
          kbd G
          span.sound boom
        .key.col-3.col-md-1(data-key="72" onclick="clickplay(72)")
          kbd H
          span.sound ride
        .key.col-3.col-md-1(data-key="74" onclick="clickplay(74)")
          kbd J
          span.sound snare
        .key.col-3.col-md-1(data-key="75" onclick="clickplay(75)")
          kbd K
          span.sound tom

    audio(data-key="65" src="./sounds/clap.wav")
    audio(data-key="83" src="./sounds/hihat.wav")
    audio(data-key="68" src="./sounds/kick.wav")
    audio(data-key="70" src="./sounds/openhat.wav")
    audio(data-key="71" src="./sounds/boom.wav")
    audio(data-key="72" src="./sounds/ride.wav")
    audio(data-key="74" src="./sounds/snare.wav")
    audio(data-key="75" src="./sounds/tom.wav")

    //js
    script(src="./js/index.js")