@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(30px);
    filter: saturate(0%); }
  100% {
    opacity: 1;
    transform: translateX(0px);
    filter: saturate(100%); } }

@keyframes sliceIn {
  0% {
    transform: translateX(-50px); }
  100% {
    transform: translateX(0px); } }

html, body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0 10px;
  background-color: #000; }

#app {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0; }
  #app .carousel, #app .carousel-inner {
    width: 100%;
    height: 100%; }
  #app .carousel-item {
    animation: fadeIn 1s ease both; }
    #app .carousel-item:hover img {
      width: 110%;
      height: 110%;
      transition: 0.5s; }
  #app .img img {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    transition: 0.5s; }
  #app .title {
    text-align: center;
    background-color: #eee;
    animation: sliceIn 1s 0.1s ease;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px; }
