html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="shortcut icon" href="./img/icon/icon.png")

    //font-awesome 5.0.8
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous")
    //bootstrap 4.0.0
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
    //css
    link(rel="stylesheet" href="./css/style.css")
    //vue
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    
    title 發票對獎機
  body
    #app
      input.in(type="text" maxlength="3" :value="num")
      .keys.row
        .key.col-md-4.col-4(data-key="55" v-on:keydown.55="keyplay(55)" v-on:click="clickplay(55)")
          kbd 7
          span.sound 
        .key.col-md-4.col-4(data-key="56" v-on:keydown.56="keyplay(56)" v-on:click="clickplay(56)")
          kbd 8
          span.sound 
        .key.col-md-4.col-4(data-key="57" v-on:keydown.57="keyplay(57)" v-on:click="clickplay(57)")
          kbd 9
          span.sound 
        .key.col-md-4.col-4(data-key="52" v-on:keydown.52="keyplay(52)" v-on:click="clickplay(52)")
          kbd 4
          span.sound 
        .key.col-md-4.col-4(data-key="53" v-on:keydown.53="keyplay(53)" v-on:click="clickplay(53)")
          kbd 5
          span.sound 
        .key.col-md-4.col-4(data-key="54" v-on:keydown.54="keyplay(54)" v-on:click="clickplay(54)")
          kbd 6
          span.sound 
        .key.col-md-4.col-4(data-key="49" v-on:keydown.49="keyplay(49)" v-on:click="clickplay(49)")
          kbd 1
          span.sound 
        .key.col-md-4.col-4(data-key="50" v-on:keydown.50="keyplay(50)" v-on:click="clickplay(50)")
          kbd 2
          span.sound 
        .key.col-md-4.col-4(data-key="51" v-on:keydown.51="keyplay(51)" v-on:click="clickplay(51)")
          kbd 3
          span.sound 
        .key.col-md-8.col-8(data-key="48" v-on:keydown.48="keyplay(48)" v-on:click="clickplay(48)")
          kbd 0
          span.sound
        //.key.col-md-2(data-key="8" v-on:keydown.8="keyplay(8)" v-on:click="clickplay(8)")
          kbd back
          span.sound
        .key.col-md-4.col-4(v-on:click="clickplay(0)")
          kbd C
          span.sound
      audio(data-key="96" src="./sounds/clap.wav")
      audio(data-key="97" src="./sounds/clap.wav")
      audio(data-key="98" src="./sounds/clap.wav")
      audio(data-key="99" src="./sounds/clap.wav")
      audio(data-key="100" src="./sounds/clap.wav")
      audio(data-key="101" src="./sounds/clap.wav")
      audio(data-key="102" src="./sounds/clap.wav")
      audio(data-key="103" src="./sounds/clap.wav")
      audio(data-key="104" src="./sounds/clap.wav")
      audio(data-key="105" src="./sounds/clap.wav")
      audio(data-key="187" src="./sounds/clap.wav")
    //js
    script(src="./js/index.js")