html, body {
  padding: 20px;
  margin: 0;
  height: 100%;
  overflow: hidden; }

.cursor_pointer {
  cursor: pointer; }

.cross {
  position: absolute;
  right: 3px;
  top: 3px;
  font-size: 20px;
  color: white;
  background-color: #000;
  cursor: pointer;
  transition: 0.5s; }
  .cross:hover {
    color: red; }

h1 {
  font-size: 30px; }

.col_edit, .col_rooms {
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 50px; }

.col_edit {
  background-color: #f4f4f4; }

.col_room {
  padding: 20px; }

.room_container {
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer; }
  .room_container:hover .cover {
    background-size: 110% auto; }
  .room_container .cover {
    height: 150px;
    background-color: #EEE;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-size: 100% auto;
    transition: 0.5s; }
    .room_container .cover h3 {
      position: absolute;
      bottom: 10px;
      font-size: 20px;
      padding: 5px 10px;
      background-color: #fff; }
  .room_container .info {
    padding: 10px; }
    .room_container .info h5 {
      font-size: 12px; }
    .room_container .info .final_price {
      float: right;
      color: #DB4343; }
      .room_container .info .final_price:after {
        content: "$"; }
    .room_container .info .icons {
      display: inline-block;
      margin-left: 10px; }
      .room_container .info .icons span {
        margin-right: 5px;
        opacity: 0.8; }
