html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;")
    link(rel="shortcut icon" href="./img/icon/icon.png")

    //bootstrap 4.0.0
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
    //css
    link(rel="stylesheet"  href="./css/style.css")
    title vue
  body
    #app
      .title
        h3 Vue Start
        hr
      .row
        .col-12.col-md-4
          #hello.block
            h5 Hello world!
            hr
            p {{message}}
        .col-12.col-md-4
          #v-if.block
            h5 v-if (判斷)
            hr
            input(type="text" v-model:value="vif")
            p(v-if="vif") 你看得到我了
        .col-12.col-md-4
          #v-for.block
            h5 v-for (迴圈)
            hr
            ul
              li(v-for="i in vfor")
                p {{i.item}}
        .col-12.col-md-4
          #v-bind.block
            h5 v-bind (屬性綁定)
            hr
            span(v-bind:title="vbind") 滑鼠放到上面
        .col-12.col-md-4
          #v-bind.block
            h5 v-bind (樣式綁定)
            hr
            input(type="text" v-model:value="isActive")
            p.show(v-bind:class="{active:isActive}")
        .col-12.col-md-4
          #v-model.block
            h5 v-model (雙向綁定)
            hr
            input(type="text" v-model:value="vmodel")
            p {{vmodel}}
        .col-12.col-md-4
          #v-text.block
            h5 v-text
            hr
            input(type="text" v-model:value="vtext")
            p(v-text="vtext")
        .col-12.col-md-4
          #v-html.block
            h5 v-html
            hr
            input(type="text" v-model:value="vhtml")
            p(v-html="vhtml")
        .col-12.col-md-4
          #von.block
            h5 v-on 事件綁定
            hr
            a.btn.btn-primary(v-on:click="von1") 按鈕1
            a.btn.btn-primary(@click="von2") 按鈕2
        .col-12.col-md-4
          #von.block
            h5 方法、計算屬性、監聽
            hr
            a.btn.btn-primary(v-on:click="add") 按鈕
            span {{i}}
            p {{num}}

    //vue
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    //js
    script(src="./js/index.js")