html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="shortcut icon" href="./img/icon/icon.png")
    //css
    link(rel="stylesheet"  href="./css/style.css")

    

    title js Control css
  body
    .controls
      label(for="spacing") spacing:
      input(type="range" name="spacing" min="10" max="200" value="10" data-sizing="px")
      label(for="blur") blur:
      input(type="range" name="blur" min="0" max="25" value="10" data-sizing="px")
      label(for="base") 底色
      input(type="color" name="base" value="#ffc600")
    img(src="https://source.unsplash.com/7bwQXzbF6KE/800x500" alt="img")

  //js
  script(src="./js/index.js")
